:root {
    background: linear-gradient(#D28CFC 50px, #9300F0 150px, #9200F2);
}

#reg-form-container input, #reg-form-container button {
    color: #ffffff;
    background-color: #B154F3;
}

#reg-form-container label {
     display: inline-block;
     min-width: 80px;
}

#btn-register {
    margin-left: 25px !important;
}

header nav, article {
    border-width: 1px !important;
    border-radius: 20px;
}

article {
    color: #ffffff;
}

section footer a {
    color: #aaaaaa;
}

body footer {
    text-align: center
}
